
body{background-color: black;}
h1{color: white;}
h6{color: white;}
h5{color: white;}
#p1{color: yellow;}
#p2{color: red;} 
.warna-kalimat{color: skyblue;}
.twitter{color: skyblue; text-decoration: underline;}