body{background-color: blue;}
h1{color: white;}
h6{color: white;}
h5{color: white;}
#p1{color: yellow;}
#p2{color: red;} 
.instagram{color: skyblue; text-decoration: underline;}
.twitter{color: skyblue; text-decoration: underline;}